main section:first-of-type {
	background: url(../images/back.jpg) no-repeat top center black;
	color: $light;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;	
	align-items: center;
	position: relative;
	padding: 2rem 1rem;
	&::before {
		background-color: rgba(0,0,0,0.3);
		content: "";
		z-index: 1;
		height: calc(100% - 4rem);
		top: 2rem;
		width: calc(100% + 1rem);
		position: absolute;
	  }
	> * {
		z-index: 1;
	  }
}