body > header, 
body > footer {
	text-shadow: 1px 1px rgba(0,0,0,0.2);
	background-color: $speed-dark;
	li {
		border: 2px solid transparent;
		border-width: 2px 0;
		flex: 0 0 auto;
		z-index: 4;
	}
	li:hover, li.cta {
		border-color: $light;
	}
	a, a:hover {
		color: $light;
		text-decoration: none;
	}
	li:hover, li.cta {
		background-color: $bg;
		a {
			color: $speed-dark;
		}
	}
	li.cta:hover, li.cta:focus {
		background-color: $speed-light;
	}
}

