.talks {
li > div {display: flex;}
li:nth-of-type(odd) > div {
	flex-direction: row-reverse;	
}
figure a { 
	padding: 10px 10px 30px; 
	background: white; 
	display:inline-block; transform: rotate(-5deg); 
}
figure a, 
figure img {
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); 
}
	
figure img {width: 200px;}
li:nth-of-type(odd) figure a {transform: rotate(5deg);}
section > ul > li ~ li {
	border-top: 1px solid;}
	h4 {margin-bottom: 0;}
	h4 + p {margin-top: 0;}
section > ul  {list-style-type: none;}}
