$cdn-dark: #635e5e;
$cdn-light: #d0d0d0;
$speed-dark: rgb(53, 14, 101); /* purple */
$speed-light: rgb(242,65,26); 
$shield-dark: #5c1f8e;
$shield-light: #cec1e2;
$flex-dark: #447228;
$flex-light: #badba5;
$ads-dark: #00154e;
$bg: rgb(248, 172, 4); /* orange */
$light: #ffffff;
$text: #333;