main section:first-of-type {
	background: url(../images/back.jpg) no-repeat top center black;
	color: $light;
	background-size: cover;
	display: flex;
	justify-content: flex-start;	
	align-items: center;
	position: relative;
	&::before {
		margin: 0 -1rem;
		background-color: rgba(0,0,0,0.3);
		content: "";
		z-index: 1;
		height: 70%;
		top: 15%;
		width: 100%;
		position: absolute;
	  }
	> * {
		z-index: 1;
	  }
	a {
		background-color: $bg;
		color: $text;
		border-radius: 3px;
		padding: 0.5rem 2rem;
	}
}