body > footer {
	color: $speed-light;
	position: relative;
	margin-top: 12px;
	ul {
	  display: flex;
	  justify-content: center;
	}
	li {
	  border: 2px solid transparent;
	  border-width: 2px 0;
	}
	li:hover {
	  border-color: $light;
	}
	text-align: center;
}
