@charset 'utf-8';

@import "variables";

.speakers {
	ul {
		display: flex;
		flex-flow: wrap row;
		justify-content: flex-start;
		align-items: flex-start;
	}
	li {
		list-style-type: none;
		flex: 0 0 240px;
		min-width: 240px;
		text-align: center;
	}
	figure img {
		height: 240px;
		-webkit-filter: sepia(50);

	}
	figure a {
		display: block;
	}
	a:hover {
		img {
			-webkit-filter: none;
		}
	}
}