@charset 'utf-8';

@import "variables";

@import "reset";
@import "look";
@import "header_and_footer";
@import "header";
@import "footer";
@import "nav";
@import "a";
@import "main";
@import "banner_look";
@import "home";
@import "circle";
@import "reg";
@import "talks";
.subnav {
	display: flex; 
	list-style-type: none;
	padding-left: 0;
	li {
		border-right: 1px solid black;
	}
}
