footer a,
.circle a {
  text-decoration: none;
}
a {
	&:hover, &:focus, &:active {
		text-decoration: underline;
	}
}
.subnav {
	text-align: left;
	a {
	text-decoration: none;
	}
}
.button,
a.cta {
	background-color: $speed-light;
	color: $light;
	border-radius: .125rem;
	padding: 0.75rem 2rem;
	white-space: nowrap;

	&:hover,
	&:focus,
	&:active {
		color: $light;
		background-color: darken($speed-light, 10%);
	}
}
a.cta,
section:first-of-type a.button {
	background-color: $bg;
	color: $text;
	text-decoration: none;
}

@media screen and (min-width: 35em){
.subnav.subnav a:hover {
	background-color: $bg;
	color: $text;
}
.subnav {
	padding-left: 0;
	a {
	background-color: $speed-light;
	color: $light;
	border-radius: 3px;
	padding: 0.75rem 2rem;
	white-space: nowrap;
	&:hover, &:focus, &:active {
		text-decoration: none;
		color: $light;
		background-color: darken($speed-light, 10%);
	}
	}
	display: inline-flex;
	justify-content: space-between;
	li {
		margin-right: 1rem;
		list-style-type: none;
	}
}
}
p.buttons {line-height: 2.5rem;}

