:not(main) a {
  text-decoration: none;			
}
a {
	&:hover, &:focus, &:active {
		text-decoration: underline;
	}
}
.subnav {
	text-align: left;
}
.button, a.cta {
	background-color: $speed-light;
	color: $light;
	border-radius: 3px;
	padding: 0.5rem 2rem;
	white-space: nowrap;
	&:hover, &:focus, &:active {
		text-decoration: none;
		color: $light;
		background-color: darken($speed-light, 10%);
	}
}
a.cta,
section:first-of-type a.button {
	background-color: $bg;
	color: $text;
}

@media screen and (min-width: 35em){
.subnav.subnav a:hover {
	background-color: $bg;
	color: $text;
}
.subnav { 
	a { 
	background-color: $speed-light;
	color: $light;
	border-radius: 3px;
	padding: 0.5rem 2rem;
	white-space: nowrap;
	&:hover, &:focus, &:active {
		text-decoration: none;
		color: $light;
		background-color: darken($speed-light, 10%);
	}
	}
	display: inline-flex; 
	justify-content: space-evenly;
	li {
		margin-right: 10px;
		list-style-type: none;
	}
}
}
p.buttons {line-height: 2.5rem;}

