footer {

	article {
		display: flex;
		line-height: 1.6;
		> ul:not(:first-of-type)  > li > a {
		border-bottom: 1px solid;
		&:hover {
			border: none;
		}
	}
	}
	ul {
		list-style-type: none;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		li {
		flex: 1 0 auto;
		padding: 0 1rem;
		box-sizing: border-box;
		}
		a {
			text-decoration: none;
			color: $aa_theme_color_on_grey;

		&:hover{
			text-decoration: underline;
			color: $tc_dark;
		}
		}

	}
	small {
		max-width: 800px;
		display: block;
		margin: 1em auto;
	}

}

@media screen and (max-width: 800px) {
	footer article {
		flex-wrap: wrap;
		> ul {
			flex: 45%;
		}
	}
}

@media screen and (max-width: 600px) {
	footer article {
		flex-wrap: wrap;
		 ul {
			flex-direction: column;
		}
	}
}
