header {
  padding: 1.5rem 0;
  background-color: $white;
  background-image: url(../images/flamechart.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
}

hgroup {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 1.5rem;
  grid-column-gap: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: rgba(245,242,245,0.95);
  box-shadow: $shadows, $topshadows;

  > * {
    grid-column: auto / span 2;
  }

  h2 {
  	font-size: calc((5vw + 5vh)/2);
  	color: $theme_color;

  	span {
  		font-weight: bold;
  	}
  }

  p  {
  	font-size: calc((2.5vw + 2.5vh)/2);
  }
}

header .buttons {
	display: flex;
	margin: 3rem 0;

  a {
	  padding: .75rem 1rem;
	  font-size: 1.5rem;
    text-decoration: none;
	  border-radius: .125rem;
	  box-shadow: $shadows;

    + a {
      margin-left: 1rem;
    }

	  &:hover {
	  	box-shadow: -2px -2px 2px rgba(0,0,0,0.2);
	  }
	}
	[class|="btn"] {
	  	background-color: $bg;
	  	color: $theme_color;
	    &:hover, &:focus {
	  	color: $bg;
	  	background-color: $speed-light;
	    }
	}
	.btn-cta {
	  color: $bg;
	  background-color: $theme_color;

	  }
}
