.reg {
	color: $white;
	overflow: scroll;
	h1 {
		font-size: 2rem;
		margin-bottom: 0
	}
	table {
		width: 100%;
		color: #333;
		border: 1px solid;
		white-space: nowrap;
		td { padding:5px 10px;}
		tr + tr td {border-top:1px solid;}
		td + td {
			border-left: 1px solid;
		}
		td[colspan] {text-align: center;}
	}

}


.registration {
	caption {
	font-size: 2em; 
	font-weight: bold; 
	margin-top: 2em;
	background-color: rgba(255,255,255,0.5);
} 
tbody tr {
	opacity: 0.35;
	} 
tr:nth-of-type(odd){
	background-color: $tc_light;
}
tr.active {
	opacity: 1;
	background-color: lighten($bg, 20%);
}
  table {
	margin: auto;
	border-collapse: collapse;
	td, th {
		padding: 2px;
	}
  }
  p {
	text-align: center;
  }
  .cta {
  	display: block;
  	width: 580px;
  	max-width: 70%;
  	margin: 2em auto;
  }
}

.diversity {
	color: $highlight;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

@media screen and (max-width: 54em){
  #levels, 
  .longtext {
	details[open] p {
		right: 0; 
		width: 100%;
	}
	display: block;
	tr { display: list;}
	tr ~ tr td:first-of-type {border-top: 1px solid;}
	tr:first-of-type {display: none;}
	td { display: list-item; 
		border: none;
		
		&:empty {display: none;}
	}
  }
	#levels td {
		&:not(:first-of-type){
			text-indent: 60px;
		}
		&:nth-of-type(2):before{content: 'Supporter: ';}
		&:nth-of-type(3):before{content: 'Silver-: ';}
		&:nth-of-type(4):before{content: 'Silver+: ';}
		&:nth-of-type(5):before{content: 'Gold: ';}
		&:nth-of-type(6):before{content: 'Platinum: ';}
	}
	.longtext.longtext td {
		border: none;
		&:first-of-type {font-weight: bold; paddin-top: 2em;}
		&:nth-of-type(2) {font-style: italic; opacity: 0.5;}
		&:nth-of-type(2):before{content: 'Sponsorship Level: ';}
		&:nth-of-type(3):before{content: 'Description: ';}
	}
}