.talks {
	li > div {display: flex;}

	li:nth-of-type(odd) > div {
		flex-direction: row-reverse;
	}

	figure { margin-left: 2rem; }

	> div > ul > li:nth-child(even) figure { margin-right: 2rem; margin-left: 0; }

	figure a {
		padding: .5rem .5rem 1.5rem;
		background: white;
		display:inline-block; transform: rotate(-5deg);
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	}

	figure img {
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	}

	figure img {width: 12rem;}

	li:nth-of-type(odd) figure a {transform: rotate(5deg);}

	> div > ul > li ~ li {
		border-top: 2px solid $bg;
	}

	h4 {margin-bottom: 0;}

	h4 + p {margin-top: 0;}

	> div > ul {
		padding-left: 0;
		list-style-type: none;

		> li {
			padding: 3rem 0;
		}
	}

	hr {
		margin: 1.5rem 0;
		opacity: 0.1;
	}
}

@media screen and (max-width: 520px) {
  .talks.talks.talks li > div {flex-direction: column}
}
